{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"tabWidth": 4,
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"plugins": ["prettier-plugin-ripple"]
}
